#data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    height: 100vh;
}
.wrapper{
    height: 25rem;
    width: 25rem;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 15px;
    
}

.banner-image{
    width: 22rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px;
}
.profile-image{
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    padding: 0;
    margin: 0
}